/* All the content, is centered, have black background, same font, no margin and white color of text*/
body {
    text-align: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

/* No space around elements */
ul {
    margin: 0;
    padding: 0;
}

/* Remove all decoration from list */
li {
    list-style: none;
    padding: 15px;
}

/* Title size */
h1 {
    font-size: 50px;
}