<!-- FOOTER -->
<footer id="footer">
    <div class="row justify-content-center">
        <div class="col-10 col-md-3 col-lg-3 col-xl-3">
            <h3>Adress</h3>
            <ul class="list-group list-group-flush" id="addressDiv">
                <li class="list-group-item">
                    <a id="footerAddress" href="https://goo.gl/maps/2aqFdNDscvCgKKQR9"
                        target="_blank">Fjällgatan 32H</a>
                </li>
                <li class="list-group-item">
                    <a id="footerZipCode" href="https://goo.gl/maps/2aqFdNDscvCgKKQR9" target="_blank">981 39 KIRUNA</a>
                </li>
            </ul>
        </div>

        <div class="col-10 col-md-5 col-lg-5 col-xl-4">
            <h3>Öppettider</h3>
            <ul class="list-group list-group-flush opening-hours">
                <li class="list-group-item"><span>Mån-Tors</span> <span>10-22</span></li>
                <li class="list-group-item"><span>Fredagar</span> <span>10-23</span></li>
                <li class="list-group-item"><span>Lördagar</span> <span>12-23</span></li>
                <li class="list-group-item"><span>Söndagar</span> <span>12-20</span></li>
            </ul>
        </div>

        <div class="col-10 col-md-3 col-lg-3 col-xl-3">
            <h3>Kontaktinfo</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a id="footerEmail" href="mailto:info@fantastic4group.gitlab.io">
                        info@f4group.gitlab.io
                    </a>
                </li>
                <li class="list-group-item">
                    <a id="footerPhoneNumber" href="tel:0630-555-555">0630-555-555</a>
                </li>
            </ul>
        </div>
   </div>
</footer>

