
<meta charset="UTF-8">
<!-- Controls scaling and dimensions of page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- First method of adding a favicon -->
<link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
<!-- Second method of adding a favicon -->
<link rel="icon" type="image/png" href="./assets/favicon.png" sizes="308x308">
<!-- Shows the favicon when adding website as shortcut to the desktop/homescreen -->
<link rel="apple-touch-icon" sizes="308x308" href="./assets/favicon.png">


<!-- Links to bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<!-- The title that will be shown on the browser tab -->
<title>{{ page.title }} | Pizzeria Santos</title>

<!-- Links the css file(s) -->
<link rel="stylesheet" href="./assets/css/style.css">
<link rel="stylesheet" href="./assets/css/overlay.css">
<link rel="stylesheet" href="./assets/css/navbar.css">






