
<meta charset="UTF-8">
<!-- Controls scaling and dimensions of page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- First method of adding a favicon -->
<link rel="shortcut icon" href="./assets/faviconblackbg.ico" type="image/x-icon">
<!-- Second method of adding a favicon -->
<link rel="icon" type="image/png" href="./assets/faviconblackbg.png" sizes="308x308">
<!-- Shows the favicon when adding website as shortcut to the desktop/homescreen -->
<link rel="apple-touch-icon" sizes="308x308" href="./assets/faviconblackbg.png">


<!-- Links to bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<!-- The title that will be shown on the browser tab -->
<title>{{ page.title }} | Pizzeria Santos</title>
<!-- Font -->
 <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!-- Links the css file(s) -->
<link rel="stylesheet" href="./assets/css/style.css">
<link rel="stylesheet" href="./assets/css/overlay.css">
<link rel="stylesheet" href="./assets/css/navbar.css">

<!-- FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">





