@main-font: "Poppins", sans-serif;

//@main-navbar-bg: rgba(0, 0, 0, 0.6);
//@main-color: rgb(204, 180, 100);
//@light-gray-bg: rgb(20, 20, 20);
//@gold-active-color: rgb(230, 205, 115);
//@main-hover-color: rgb(230, 205, 115);
//@dark-hover-color: #171717;
//@white-color: #FFF;
//@black-color: #000;


// Comment above variables and uncomment variables below for light-mode;
@main-background: #F5F3F5;

@main-navbar-bg: rgb(202, 81, 0);
@main-navbar-text-color: #FFF;
@footer-bg: #ebebeb;
@footer-text-color: #4c4c4c;

//@main-navbar-bg: rgb(25, 39, 50);
//@main-navbar-text-color: #FFF;
//@footer-bg: rgb(25, 39, 50);
//@footer-text-color: #FFF;

//@main-navbar-bg: #ebebeb;
//@main-navbar-text-color: rgb(218, 102, 26); 
//@footer-bg: #ebebeb;
//@footer-text-color: #4c4c4c;

@light-gray-bg: #F5F5F5;
@dark-hover-color: #171717;
@white-color: #FFF;
@black-color: #4c4c4c;
@light-black-color: #606060;
@red-color: rgb(218, 102, 26);
@green-color: rgb(52, 168, 84);
