@main-color: rgb(204, 180, 100);
@pizza-red: rgb(255, 100, 0);
@list-gray-bg: rgb(20, 20, 20);
@gold-active-color: rgb(230, 205, 115);

@parallax-1: "../images/bild1.jpg";
@parallax-2: "../images/bild2.jpg";
@parallax-3: "../images/bild5unsplash.jpg";

@main-font: "Poppins", sans-serif;
@white-color: #FFF;
@black-color: #000;
