@main-gold-color: rgb(204, 180, 100);

#orderOverlay {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: opacity 150ms ease-in-out;
    cursor: pointer;
    justify-content: center;
}

#orderContent {
    cursor: default;
    grid-area: content;
    width: 100%;
    margin: auto;
    max-width: 720px;
    height: 300px;
    max-height: 80vh;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
}

#orderCloseButton{
    cursor: pointer;
    user-select: none;
    align-self: flex-end;
    height: 50px;
    transition: 0.1s;
    font-size: 35px;
    &:hover {
        opacity: 0.5;
    }
}

#orderInput {
    max-width: 180px;
    font-size: 24px;
    padding: 0;
    border: 2px solid rgb(204, 180, 100);
    box-sizing: border-box;
    user-select: none;
    font-size: 30px;
    text-align: center;
    line-height: normal;
}

#orderInput:focus{
    outline: none;
}

#orderConfirmButton {
    margin-left: -2px;
    border: 2px solid rgb(204, 180, 100);
    box-sizing: border-box;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
    color: @main-gold-color;
    background-color: black;
    &:hover {
        color: #171717cf;
        background-color: #ccb464;
    }
}

#orderConfirmButton i {
    user-select: none;
    height: 34px;
    margin: auto auto;
}

#orderStatus{
    min-height: min-content;
    user-select: none;
    font-size: 1.6em;
}
.orderSuccess {
    color: green;
}
.orderFail {
    color: red;
}
.orderInfo {
    color: white;
}

/* Wraps order content for flex positioning */
#orderWrapper {
    display: flex;
}
