@import "_variables.less";
@import "_helpers.less";
@import "_overlay.less";
@import "_navbar.less";
@import "_contact.less";

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    text-align: center;
    font-family: @main-font;
    background-color: @black-color;
    color: @white-color;
}

h2 {
    
}

.business-hours {
    width: 100%;
    display: flex;
    font-size: 1em;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    > .open-hours {
        width: 400px;
        margin: 15px 10px;
        > li {
            max-width: 100%;
        }
        @media screen and (max-width: 860px) {
            width: 100%;
        }
    }
    .closed-days {
        li span:nth-last-child(1) {
            color: @pizza-red;
        }
    }
}
