@import "_variables.less";
@import "_helpers.less";
@import "_overlay.less";
@import "_navbar.less";
@import "_contact.less";

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    text-align: center;
    font-family: @main-font;
    background-color: white;
    color: black;
}

#header {
    background-size: cover !important;
    >.header-content {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        background-color: #0000004f;

        color: white;
        > h1 {
            font-weight: 500;
            font-size: 6.3rem;
            line-height: 1;
        }

        > h2 {
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 0.5;

        }
    }
}
