@import "_variables.less";
@import "_helpers.less";
@import "_navbar.less";
@import "_contact.less";

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    text-align: center;
    font-family: @main-font;
    background-color: @main-background;
    color: @black-color;
}

#header {
    background-size: cover !important;
    >.header-content {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        background-color: #0000004f;
        color: white;
        > h1 {
            font-weight: 500;
            font-size: 6.3rem;
            line-height: 1;
        }

        > h2 {
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 0.5;
        }
        @media(max-width: 480px) {
            > h2 {
                font-size: 2.7rem;
            }
            > h1 {
                font-size: 3.5rem;
            }
        }
    }
}

h3 {
    color: @red-color;
}

.business-hours {
    width: 100%;
    display: flex;
    font-size: 1em;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    > .open-hours {
        width: 400px;
        margin: 15px 10px;
        > li {
            max-width: 100%;
        }
        @media screen and (max-width: 860px) {
            width: 100%;
        }
    }
    .closed-days {
        li span:nth-last-child(1) {
            color: @red-color;
        }
    }
}

.menu {
    ul {
        margin: 0;
        padding: 0;
    }
	li {
	    list-style: none;
	    padding: 10px;
	}

	ul li {
	    margin: auto;
	    max-width: 620px;
	    text-align: left;
	    display: flex;
	    display: -webkit-flex;
	    justify-content: space-between;
	}
}

.menu ul {
    li span {
        &:first-child {
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            color: @red-color;
        }
        &:first-child span {
            line-height: 10px;
            font-size: 0.8em;
            color: @black-color;
        }
        &:last-child{
            font-size: 1em;
        }
    }
}

.zipcode-field .input-group {
    input {
        &:focus {
            box-shadow: none;
            border: 1px solid @red-color;
        }
    }
    .btn-outline-secondary {
        border: 1px solid @red-color;
        svg {
            color: @red-color;
        }
        &:hover {
            background-color: @red-color;
            svg {
                color: @white-color;
            }
        }
    }
    @media screen and (min-width: 320px){
        width: 80%;
    }
    @media screen and (min-width: 480px){
        width: 60%;
    }
    @media screen and (min-width: 770px){
        width: 40%;
    }
    @media screen and (min-width: 970px){
        width: 25%;
    }
}

.order-status{
    min-height: min-content;
    user-select: none;
}

.order-success {
    color: olivedrab;
}

.order-fail {
    color: @red-color;
}

.order-info {
    color: @black-color;
}

.parallax {
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    > .parallax-empty {
        height: 25vh;
    }
}

.map iframe {
    width:100%;
}


// FOOTER
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @black-color;
    .list-group-item {
        border: 0px;
        background-color: @black-color;
        color: @white-color;
        a {
            color: @white-color;
        }
    }
}

#find-us {
    //max-width: 600px;
    .row:first-child {
        max-width: 600px;
        .col-12 {
            padding: 0;
        }
    }

    .col-md-6 {
        padding: 0;
        p {
            width: 95%;
        }
    }
}

@keyframes hr40OnLoad {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

@keyframes hr50OnLoad {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
.trigger-animation {
    animation-name: hr40OnLoad;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border: 1px solid lightgray;
    &.colorized {
        animation-name: hr50OnLoad;
        border: 1px solid @red-color;
    }
}
hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.1em;
}
