#orderOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    grid-template-areas:
        ". . ."
        ". content ."
        ". . .";
    grid-template-rows: 0 min-content auto;
    grid-template-columns: auto fit-content auto;
    transition: opacity 150ms ease-in-out;
    cursor: pointer;
}

#orderContent {
    cursor: default;
    grid-area: content;
    background-color: rgb(30, 30, 30);
    width: 100%;
    max-width: 1920px;
    height: 300px;
    max-height: 80vh;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

#orderCloseButton{
    filter: invert();
    -webkit-filter: invert();
    cursor: pointer;
    user-select: none;
}

#orderInput {
    max-width: 180px;
    font-family: 'NATS';
    font-size: 24px;
    padding: none;
    border: 2px solid rgb(204, 180, 100);
    box-sizing: border-box;
}

#orderInput:focus{
    outline: none;
}

#orderConfirmButton {
    margin-left: -2px;
    font-family: 'NATS';
    border: 2px solid rgb(204, 180, 100);
    box-sizing: border-box;
    width: 61px;
    height: 61px;
    display: flex;
    justify-content: center;
    user-select: none;
}

#orderConfirmButton img {
    filter: invert();
    -webkit-filter: invert();
    user-select: none;
}

#orderStatus{
    min-height: min-content;
    user-select: none;
}

/* Wraps order content for flex positioning */
#orderWrapper {
    display: flex;
}