/* All the content, is centered, have black background, same font, no margin and white color of text*/
html {
    height: -webkit-fill-available;
}

body {
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    text-align: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

/* No space around elements */
ul {
    box-sizing: border-box;
    margin: 15px;
    padding: 0;
}

/* Remove all decoration from list */
li {
    list-style: none;
    /* padding: 15px; */
}


a {
    display: block;
    color: white;
    text-decoration: none;
}

/* Title size */
h1 {
    font-size: 50px;
    width: max-content;
    margin: auto;
}