/* Imports a local font */
/* This css file is for styling the Navbar */
/* Positioning items in Navbar */
.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  width: max-content;
}
/* Navbar */
.navbar a {
  color: #ccb464;
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
  user-select: none;
}
#orderOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
  justify-content: center;
}
#orderContent {
  cursor: default;
  grid-area: content;
  background-color: #1e1e1e;
  width: 100%;
  margin: auto;
  max-width: 720px;
  height: 300px;
  max-height: 80vh;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
#orderCloseButton {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  cursor: pointer;
  user-select: none;
}
#orderInput {
  max-width: 180px;
  font-family: 'NATS';
  font-size: 24px;
  padding: 0;
  border: 2px solid #ccb464;
  box-sizing: border-box;
  user-select: none;
}
#orderInput:focus {
  outline: none;
}
#orderConfirmButton {
  margin-left: -2px;
  font-family: 'NATS';
  border: 2px solid #ccb464;
  box-sizing: border-box;
  width: 61px;
  height: 61px;
  display: flex;
  justify-content: center;
  user-select: none;
}
#orderConfirmButton img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  user-select: none;
}
#orderStatus {
  min-height: min-content;
  user-select: none;
}
/* Wraps order content for flex positioning */
#orderWrapper {
  display: flex;
}
/* Imports a local font */
@font-face {
  font-family: "NATS";
  src: url("../assets/fonts/NATS-Regular.ttf") format('truetype');
}
/* All the content, have black background, same font, no margin and white color of text*/
body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  /* Text styling and background color */
  text-align: center;
  font-family: "NATS";
  background-color: black;
  color: white;
  /* Used to center page content */
}
/* Aligns content in the middle  */
.contentDiv {
  margin: auto;
  /* content width is not higher then 1920 pixels*/
  max-width: 1920px;
  position: relative;
}
.header {
  max-width: 1920px;
  margin: auto;
  height: 75px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.85);
  z-index: 50;
}
.header img {
  float: left;
  height: 75px;
  padding: 12.5px;
  box-sizing: border-box;
}
/* Title positioning */
.titleContainer {
  padding-bottom: 10px;
}
/* Title of page stays in the middle */
.title {
  display: inline-block;
  font-size: 50px;
  margin: auto;
  line-height: 90px;
  /* To make the border fit around the text in Firefox */
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  color: #ccb464;
  border: 2px solid #ccb464;
  padding: 0px 10px;
  box-sizing: border-box;
  user-select: none;
  z-index: 2;
  margin-top: 20px;
}
#infoDiv {
  background-color: #141414;
  padding: 20px 0;
  width: 100%;
  max-width: 400px;
  border: 4px solid #ccb464;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
}
#infoDiv div {
  width: 100%;
}
#infoDiv h2 {
  margin: 0;
  margin-top: 10px;
  line-height: 30px;
  font-size: 34px;
}
.infoA {
  display: block;
  color: white;
  margin: auto;
  font-size: 30px;
  /* Removes decorations */
  text-decoration: none;
  /* width: fit-content */
}
.map iframe {
  border: 4px solid #ccb464;
  line-height: 0;
  position: relative;
  width: 800px;
  max-width: 100%;
  height: 500px;
  box-sizing: border-box;
}
@media only screen and (max-width: 1183px) {
  #infoDiv {
    margin-top: 0px;
  }
  .map iframe {
    height: 500px;
  }
}
h2 {
  color: #ccb464;
}
.contactDiv {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@font-face {
  font-family: "NATS";
  src: url("../assets/fonts/NATS-Regular.ttf") format('truetype');
}
/* All the content, have black background, same font, no margin and white color of text*/
body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  /* Text styling and background color */
  text-align: center;
  font-family: "NATS";
  background-color: black;
  color: white;
  /* Used to center page content */
}
/* Aligns content in the middle  */
.contentDiv {
  margin: auto;
  display: inline-block;
  /* content width is not higher then 1920 pixels*/
  max-width: 1920px;
  position: relative;
}
.header {
  max-width: 1920px;
  margin: auto;
  height: 75px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.85);
  z-index: 50;
}
.header img {
  float: left;
  height: 75px;
  padding: 12.5px;
  box-sizing: border-box;
  user-select: none;
}
#hours {
  width: 100%;
  display: flex;
  /* Support for old Safari & Chrome */
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.openClass {
  width: 400px;
  margin: 15px 10px;
}
@media screen and (max-width: 860px) {
  .openClass {
    width: 100%;
    margin: 15px 10px;
  }
}
.openClass li {
  max-width: 100%;
}
/* Only last element will get red color*/
#closedDays li span:nth-last-child(1) {
  color: red;
}
h2 {
  color: #ccb464;
  user-select: none;
}
#orderButton {
  border: 2px solid #ccb464;
  max-width: max-content;
  margin: auto;
  padding: 0px 10px;
  cursor: pointer;
}
ul {
  /*Makes the margin and padding part of photo width*/
  margin: 15px;
  padding: 0;
  box-sizing: border-box;
}
li {
  /* Remove all decoration from list */
  list-style: none;
  padding: 10px;
}
ul li {
  margin: auto;
  max-width: 720px;
  text-align: left;
  /* Aligns weekdays and time to different sides */
  display: flex;
  /* Support for old Safari & Chrome */
  display: -webkit-flex;
  justify-content: space-between;
}
/* Gives every 2nd list item a dark grey background */
ul li:nth-child(even) {
  background-color: #141414;
}
/* The image behind the title */
.titleImage {
  position: relative;
  background-image: url("../assets/bild4.jpg");
  /* Gives the image a parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  max-height: calc(85vh - 75px);
}
.titleContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  /* Support for old Safari & Chrome */
  display: -webkit-flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}
/* Title of page stays in the middle */
.title {
  display: inline-block;
  font-size: 50px;
  margin: 0;
  line-height: 90px;
  /* To make the border fit around the text in Firefox */
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  color: #ccb464;
  border: 2px solid #ccb464;
  padding: 0px 10px;
  box-sizing: border-box;
  user-select: none;
  z-index: 2;
}
.titleInformation {
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  color: #ccb464;
  white-space: nowrap;
}
.titleInformation:nth-of-type(1) {
  margin-left: 6px;
}
/* Hides the '|' when the width reaches the point where the text wraps */
@media screen and (max-width: 344px) {
  .titleInformation:nth-of-type(2) {
    visibility: hidden;
  }
}
/* Align in mobile resolutions */
.pictures {
  display: flex;
  /* Support for old Safari & Chrome */
  display: -webkit-flex;
  justify-content: space-evenly;
  /* Fix for images stretching in Safari */
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}
/* Bottom photos size */
.pizzaPictures {
  width: 780px;
  max-width: 100%;
  opacity: 0.8;
  padding: 20px;
  /* Makes the margin and padding part of photo width */
  box-sizing: border-box;
}
#infoDiv {
  background-color: #141414;
  box-sizing: border-box;
  display: flex;
  /* Support for old Safari & Chrome */
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footerContainers {
  margin: 0 10px;
}
#addressDiv {
  display: flex;
  /* Support for old Safari & Chrome */
  display: -webkit-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#addressDiv a {
  line-height: 20px;
}
.infoLink {
  display: block;
  color: white;
  margin: 0 auto;
  /* Removes decorations */
  text-decoration: none;
  width: max-content;
}
