---
title: Hem
layout: default
---

{% include components/header.html %}
<div class="container">
    {% include components/open_hours.html %}
</div>
<div class="container" id="menu">
    {% include components/menu.html %}
</div>
{% include components/parallax.html image="./assets/images/bild1.jpg" %}
<div class="container only-js mb-5">
    {% include components/zipcode.html %}
</div>
    {% include components/map.html %}
<div class="container mt-5">
    {% include components/find_us.html %}
</div>
