---
title: Hem
layout: default
---


<!-- The overlay. It needs inline css values to be able to change them easily with JavaScript -->
<div id="orderOverlay" style="display: none; opacity: 0;" data-state="hidden">
    <div id="orderContent">
        <i id="orderCloseButton" class="fas fa-times"></i>
        <h2>Se om vi levererar till ditt postnummer</h2>
        <!-- Groups order content for flex positioning -->
        <div id="orderWrapper">
            <input id="orderInput" type="text" placeholder="Postnummer" autocomplete="off" value=""
                maxlength="6" onkeypress="return isNumberKey(event)">
            <div id="orderConfirmButton">
                <i class="fas fa-search-location fa-2x"></i>
            </div>
        </div>
        <Span id="orderStatus" class="orderInfo">Skriv in ditt postnummer</Span>
    </div>
</div>

<!-- The title of the page -->
<div class="titleImage" id="titleImageTest" data-type="background" data-speed="40">
    <div class="titleContainer">
        <h1 class="title" id="titleTextTest">PIZZERIA SANTOS</h1>
        <div>
            <a class="titleInformation" id="titlePhoneNumberTest" href="tel:0630-555-555">0630-555-555 </a>
            <span class="titleInformation">| </span>
            <a class="titleInformation" id="titleAddressTest" href="https://goo.gl/maps/2aqFdNDscvCgKKQR9"
                target="_blank">Fjällgatan 32H</a>
            <h2 id="orderButton"><a>UTKÖRNING</a></h2>
        </div>
    </div>
</div>


<h2 class="mt-5">ÖPPETTIDER</h2>
<!-- Creates the separated lists for the opening hours and the dates closed -->
<div id="hours">
    <ul id="openingHours" class="openClass">
        {% for day in site.data.open_hours %}
        <li><span>{{ day.day }}</span> <span>{{ day.time }}</span></li>
        {% endfor %}
    </ul>
    <ul id="closedDays" class="openClass">
        {% for day in site.data.closed_days %}
        <li><span class="closedDate">{{ day.date }}</span> <span>Stängt</span></li>
        {% endfor %}
    </ul>
</div>

<div class="parallax-section bg1 mt-5 mb-5" data-type="background" data-speed="40">
    <div class="dark-overlay"></div>
</div>

<h2 id="menuText">MENY</h2>
<!-- The list of menu items -->
<ul id="menu">
    {% for pizza in site.data.pizza %}
    {% if pizza.break %}<li class="no-background"><br/></li>{% endif %}
    <li>
        <span>{{ pizza.name }}
            <span>{{ pizza.toppings }}</span>
        </span>
        <span>{{ pizza.price }} kr</span>
    </li>
    {% endfor %}
</ul>

<div class="parallax-section bg3 mt-5" data-type="background" data-speed="40">
    <div class="dark-overlay"></div>
</div>
