<div id="find-us" class="mt-n4 text-left mb-5 text-border">
    <div class="row mb-5">
        <div class="col-12">
            <h3>Hitta din väg hit</h3>
            <hr class="colorized" />
            <p>Att ta sig hit är enkelt, oavsett transportmedel. Med lokaltrafik kan man ta sig hit via buss, bil, cykel eller en kort promenad ifall det föredras. Vår restaurang ligger inte långt från Kirunas centralstation, vilket gör att kollektivtrafiken alltid är tillgänglig.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4><i class="fas fa-bus"></i> Med buss</h4>
            <hr /> 
            <p>Ifall du väljer att åka buss har du tur. Bussarna går regelbundet och vid bra tidpunkter av dygnet, och ifall du missar en är det inte långt innan nästa buss är på plats.</p>
        </div>
        <div class="col-12 col-md-6">
            <h4><i class="fas fa-car"></i> Med bil</h4>
            <hr /> 
            <p>Att ta sig hit med bil är enkelt. Från Kirunas centralstation är det bara en sträcka på ca 2km. Det finna många alternativa vägar ifall köerna är långa, och man kan parkera längs vägen bredvid restaurangen.</p>
        </div>
        <div class="col-12 col-md-6">
            <h4><i class="fas fa-bicycle"></i> Med cykel</h4>
            <hr />
            <p>Det finns bra cykelvägar som leder direkt till oss från både Kirunas centralstation samt andra lokala se värdigheter här i Kiruna. Vi har dessutom många cykelställ precis utanför restaurangen.</p>
        </div>
        <div class="col-12 col-md-6">
            <h4><i class="fas fa-walking"></i> Till fots</h4>
            <hr />
            <p>Till fots är också ett bra alternativ. Eftersom restaurangen inte är en lång sträcka från Kirunas centralstation är det en perfekt strecka för en eftermiddagspromenad.</p>
        </div>
    </div>
</div>

