<div id="find-us" class="mt-n4 text-left mb-5 text-border">
    <div class="p-4">
        <h3>Hitta din väg hit</h3>
        <p>Att ta sig hit är enkelt, oavsett transportmedel. Med lokaltrafik kan man ta sig hit via buss, bil, cykel eller en kort promenad ifall det föredras. Vår restaurang ligger inte långt från Kirunas centralstation, vilket gör att kollektivtrafiken alltid är tillgänglig.</p>
        <h4>Med buss</h4>
        <p>Ifall du väljer att åka buss har du tur. Bussarna går regelbundet och vid bra tidpunkter av dygnet, och ifall du missar en är det inte långt innan nästa buss är på plats.</p>
        <h4>Med bil</h4>
        <p>Att ta sig hit med bil är enkelt. Från Kirunas centralstation är det bara en sträcka på ca 2km. Det finna många alternativa vägar ifall köerna är långa, och man kan parkera längs vägen bredvid restaurangen.</p>
        <h4>Med cykel</h4>
        <p>Det finns bra cykelvägar som leder direkt till oss från både Kirunas centralstation samt andra lokala se värdigheter här i Kiruna. Vi har dessutom många cykelställ precis utanför restaurangen.</p>
        <h4>Till fots</h4>
        <p>Till fots är också ett bra alternativ. Eftersom restaurangen inte är en lång sträcka från Kirunas centralstation är det en perfekt strecka för en eftermiddagspromenad.</p>
    </div>
</div>

