
<!-- The title of the page -->
<div class="header-image parallax">
    <div class="header-container">
        <h1 class="header-title">PIZZERIA SANTOS</h1>
        <div>
            <a class="header-information" href="tel:0630-555-555">0630-555-555</a>
            <span class="header-information"> | </span>
            <a class="header-information" href="https://goo.gl/maps/2aqFdNDscvCgKKQR9"
                target="_blank">Fjällgatan 32H</a>
            <h2 class="only-js order-button"><a>UTKÖRNING</a></h2>
        </div>
    </div>
</div>
